/* :root {
    --cor-um: #FFFFFF;
    --cor-dois: #53da2a;
    --cor-tres: #514E4E;
    --cor-quatro: #6F6C6C;
    
    --gap:4rem;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    background-image: url(../imagens/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: var(--cor-quatro);
    color: var(--cor-um);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.7;
    
}

h1 {
    color: var(--cor-dois);
    text-align: center;
}

h2, h3, h4 {
    color: var(--cor-dois);
    text-align: center;
}

.cabecalhoPrincipal {
    border-right: 2px solid white;
}

.cabecalhoPrincipal {
    flex: 0 0 26rem;
    background-color: rgba(49, 51, 59, .9);
}

.cabecalhoPrincipal img {
    width: 150px;
    border-radius: 50%;
}

.cabecalhoPrincipal_nav {
    text-align: center;
    padding: 5rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
}

.listasItens {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.listasItens li {
    background-color: var(--cor-dois);
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.listasItens a {
    text-decoration: none;
    color: inherit;
}

.paginaPrincipal{
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 5rem 5rem;
    flex: 1 0 50%;
    background-color: rgba(49, 51, 59, .8);
}

.uppercase {
    text-transform: uppercase;
}

.destaque {
color: var(--cor-dois);
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 3.5rem;
}

Currículo
.dadosPessoais {
    text-align: center;
}

projetos
.listaDeProjetos {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

/* .listaDeProjetos div {
    border: 1px solid greenyellow;
    flex: 0 0 20rem;
}

.listaDeProjetos img {
    max-width: 100%;
    display: block;
}  */


:root {
    --cor-um: #FFFFFF;
    --cor-dois: #53da2a;
    --cor-dois-hover: #53da2a8a;
    --cor-tres: #514E4E;
    --cor-quatro: #6F6C6C;
    
    --gap:1rem;
}

/* 
smartphone min 767px - 48em
tablet max 1023px 
desktop min 1024px  64em 
*/

/* 
.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}
*/
body {
    display: flex;
    flex-direction: column;
    background-color: #6F6C6C;
    font-family: "Oxygen", sans-serif;
    line-height: 1.7; 
    font-weight: 400;
}

.cabecalhoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #504d4d;
    margin: 0
}

h1 {
    color: var(--cor-dois);
}

h2, h3, h4 {
    color: var(--cor-dois);
}

.cabecalhoPrincipal_nav {
    /* border: 2px solid black; */
    text-align: center;
    width: 95%;

} 

.cabecalhoPrincipal_nav li {
    text-align: center;
}

.cabecalhoPrincipal img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem;
} 

.cabecalhoPrincipal img {
    max-width: 100%;
}

.listasItens {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.listasItens li {
    border-radius: .5rem;
}

.listasItens li a:hover {
    background-color: var(--cor-dois-hover); 

}

.listasItens li a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: .5rem 0;
    padding: .5rem;
    background-color: var(--cor-dois);
    border-radius: 5px;
}


.centralizar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

.centralizar p {
    padding: .5em 0;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.destaque {
    color: var(--cor-dois);
    font-weight: 700;
}

.paginaPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    background-color: var(--cor-quatro)
}

.listaDeProjetos {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.listaDeProjetos_individual {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-tres);
    border-radius: 10px;
}

.listaDeProjetos_individual a {
    text-decoration: none;
    color: inherit;
}

.listadeProjetos_individuais_img {
    height: 300px;
}

.listadeProjetos_individuais_img img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.listadeProjetos_individuais_text {
    padding: .5em;
}

.listaDeProjetos_individual:focus, .listaDeProjetos_individual:hover {
    scale: 1.02; 
}

/* media screen */
/* 
smartphone min 767px - 48em
tablet max 1023px 
desktop min 1024px  64em 
*/

@media screen and (min-width:48em){
    body {
        color:greenyellow;
        flex-direction: row;
    }
}
@media screen and (min-width:64em){
    body {
        color:#c5320d;
        flex-direction: row;
    }
}

